span {
    color: red;
    font-size: 12px;
  }

  body {
    height: 10vh;
    background-color: lightblue;
  }

  form {
    width: 250px;
    height: 400px;
    display: grid;
    position: absolute;
    top: 20%;
    left: 40%;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 25px;


  }

  input {
    width: 190px;
  }

  li {
    background-color: darkgray;
    width: 200px;
    height: 20px;


  }